/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.bg-custom-gray {
  background-color: #d8d8d8 !important; /* お好みの色コードに変更 */
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 2rem;
  line-height: 1;
}

.star-input {
  display: none;
}

.star-label {
  color: #ddd;
  cursor: pointer;
  margin: 0 2px;
  transition: color 0.2s;
}

.star-input:checked ~ .star-label,
.star-label:hover,
.star-label:hover ~ .star-label {
  color: #ffc107;
}
